@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/*.navbar{*/
/*    background-color: #705201;*/
/*    margin-bottom: 2.5%;*/
/*    text-align: center;*/
/*    padding-bottom: 0px;*/
/*    padding-top: 0px;*/
/*}*/
/*.nav-link{*/
/*    color: white;*/
/*}*/
/*.nav-link:hover{*/
/*    color: white;*/
/*    font-weight: bolder;*/
/*}*/

/*#navLogin{*/
/*    margin-left: 95vh;*/
/*}*/
/*.navbar-nav li>ul{*/
/*    display:none;*/
/*}*/

/*.navbar-nav  li:hover>ul{*/
/*    display:block;*/
/*    position:absolute;*/
/*    top:40px;*/
/*    left:0px;*/
/*    !*text-align: left;*!*/
/*    background-color: black;*/
/*    opacity: 0.8;*/
/*    width:100%;*/
/*}*/

/*.navbar-nav  li ul a:hover{*/
/*    text-align: left;*/
/*    color: orange;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*}*/
html,body {
    overflow-x: hidden;
}

section{
    position:relative;
    width:100%;
    height:25rem;
    background: url(../images/gambitoDama.jpg);
    background-attachment: fixed;
}
.oscuro{
    background-color: #705022 !important;
    color: white !important;
}
.medio{
    background-color: #c69146 !important;
}
.claro{
    background-color: #ddbe91 !important;
}
.ceroMargin{
    margin: 0;
}
.smallPadding{
    padding: 2rem;
}
.tarjeta{
    padding: 180px 0 180px 0;
}
.card-img-top{
    padding-left: 10px;
    padding-right: 10px;
    /*margin-right: 10%;*/
    height: 300px;
    /*width: 100%;*/
}

a{
    color: white;
}